apiVersion: v1
kind: Service
metadata:
  name: service-employee-producer-pod
  namespace: hpa
spec:
  type: LoadBalancer
  ports:
  - port: 8000
  selector:
    app: employee-producer-label
